<%= image_tag "rails.png" %>
<h1>Hello, Rails!</h1>
<p>book Patterns of Enterprise Application Architecture. In Active Record, objects carry both persistent data and behavior which operates on that data. Active Record takes the opinion that ensuring data access logic as part of the object will educate users of that object on how to write to and read from the database.

</p>
<a href="" onclick="this.style.backgroundColor='#990000'">Paint it red</a>
<p id="demo">Rails can change HTML content.</p>

<button type="button" onclick='document.getElementById("demo").innerHTML = "Hello Rails!"'>Click Me!</button>

<button type="button" onclick="showIndex()">Try it</button>
<div id="texthide">This is about Rails</div>